<main>
  <select class="language-dropdown" #select (change)="languageService.changeCurrentLanguage(select.value)">
    <option value="bosanski">bosanski jezik</option>
    <option value="english">english</option>
  </select>
  <div class="hadith-wrapper">

    <div class="hadith-content">
      <ng-container *ngFor="let hadith of hadithService.hadiths">
        <div *ngIf=" hadith.number == hadithService.activeHadithId" class="hadith">

          <div class="title arrows">
            <button class="btn d-flex" (click)="hadithService.previousHadith()"><i class="ni ni-bold-left"></i></button>
            <h1 *ngIf="languageService.isBosnian">{{hadith.number}}. {{hadith.bosnianTitle}}</h1>
            <h1 *ngIf="languageService.isEnglish">{{hadith.number}}. {{hadith.englishTitle}}</h1>
            <button class="btn d-flex" (click)="hadithService.nextHadith()"><i class="ni ni-bold-right"></i></button>
          </div>

          <div class="icons">
            <i class="ni ni-button-play" (click)="setAudio(audio, 0, hadith.duration)" *ngIf="audio.paused"></i>
            <i class="ni ni-button-pause" (click)="stopAudio(audio)" *ngIf="!audio.paused"></i>
          </div>

          <audio controls #audio (timeupdate)="updateCurrentTime(audio)">
            <source src="{{audioHost}}{{hadith.audio}}">
          </audio>
          
          <div class="arabic">

            <h1 class="sentence" #sentence
              [class.active]="currentTime >= sentence.start_second && currentTime <= sentence.end_second"
              [ngbTooltip]="popContent" triggers="mouseenter:mouseleave:click"
              (click)="setAudio(audio, sentence.start_second, sentence.end_second)"
              *ngFor="let sentence of hadith.arabic_hadith.sentences">
              {{sentence.arabic_text}}

              <ng-template #popContent class="template" >
                <p *ngIf="languageService.isBosnian">{{sentence.bosnian_text}}</p>
                <p *ngIf="languageService.isEnglish">{{sentence.english_text}}</p>
              </ng-template>
            </h1>
          </div>

          <p class="translation" *ngIf="languageService.isEnglish">{{hadith.english_hadith}}</p>
          <p class="translation" *ngIf="languageService.isBosnian">{{hadith.bosnian_hadith}}</p>

          <div class="arrows">
            <button class="btn d-flex" (click)="hadithService.previousHadith()"><i class="ni ni-bold-left"></i>{{languageService.isBosnian?'Prethodni hadis':'Previous hadith'}}</button>
            <button class="btn d-flex" (click)="hadithService.nextHadith()">{{languageService.isBosnian?'Sljedeci hadis':'Next hadith'}}<i class="ni ni-bold-right"></i></button>
          </div>

         
        </div>
      </ng-container>
    </div>
  </div>
</main>