#sidenav-main{
  background-color: #1f1f2d !important;

  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-track {
    background: #fbfbfb;
  }
  &::-webkit-scrollbar-thumb {
    background: #a8a6a6;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb:hover {
    background: #fbfbfb;
  }
  
  .navbar-nav{
    .nav-link{
      color: white !important;
      cursor: pointer;
      transition: all 0.5s;

      &.active{
        i, span{
          color: #5e72e4;
        }
      }

      &:hover{
        color: #5e72e4;
      }
    }
  } 

  .navbar-toggler {
    background-color: #ffffff1a !important;
    padding: 0 5px;

    span:not(.navbar-toggler-icon){
      background-color: white;
    }
}
}